<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SSO-Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/formate.css}" />
<script type="text/javascript"
	th:src="@{/js/jquery.js}"></script>
<script type="text/javascript"
	th:src="@{/js/toolz.js}"></script>

</head>
<body>
	<div id="layoutMenue">
		<img th:src="@{/image/logo.gif}" />

			<p th:if="${session.konto} == null"><a class="ajaxLink" th:href="@{konto/login.html}">Login</a></p>
			<p th:if="${session.konto} != null"><a class="ajaxLink" th:href="@{konto/logout.html}">Logout</a></p>
			<p th:if="${session.konto} != null"><a class="ajaxLink" th:href="@{konto/register.html}">Register</a></p>

	</div>

	<div id="layoutOben">
		<h2>SSO-Manager</h2>
	</div>
	<div id="layoutInhalt">
		<span th:if="${session.konto} == null">Bitte einloggen!</span>
		<span th:if="${session.konto} != null">
			Willkommen <span th:text="${session.konto.vorname}"/>!<br/>
			Dein Token ist <span th:text="${session.token}"/><br/>
			Der REST-Aufruf wäre
			<a th:href="@{'/rs/konto?email=' + ${session.konto.email}+'&token=' + ${session.token}}" target="_blank">so</a>
		</span>
	</div>
	<script type="text/javascript">
		$("a.ajaxLink").click(function() {
			var link = $(this);
			holeRest(link.attr("href"));
			return false;
		});
	</script>
</body>
</html>